$bg-gradient: linear-gradient(
  130deg,
  hsl(268, 100%, 50%) 0%,
  hsl(268, 100%, 30%) 50%,
  hsl(268, 100%, 20%) 100%
);
$bg-dark-10: hsl(0, 0%, 10%);
$bg-dark-20: hsl(0, 0%, 20%);
$text-clr: hsl(0, 0%, 100%);
$border-clr: hsl(0, 0%, 30%);
$error-clr: hsl(0, 100%, 50%);
